body {
    font-family: 'Noto Sans TC', sans-serif;
    }
    h6, .h6, h5, .h5, h4, .h4, h3, .h3, h2, .h2, h1, .h1 {
    font-family: 'Noto Sans TC', sans-serif;
    text-transform: none;
    }
    .subheading {
    font-family: 'Noto Sans TC', sans-serif;
    text-transform: none;
    }
:root{
    --bs-primary:#dc3545;
    --bs-primary-rgb: 11, 0, 166;
    --bs-secondary:#dc3545;
    --bs-secondary-rgb: 238, 143, 0;
}

.email{
    color:var(--bs-primary);
}

.email:hover{
    background-color: #dc3545;
    color: #fff;

}

.nav-item{
    color: #dc3545;
}

.nav-item:hover{
    background-color: #dc3545;
    color: #fff;

}

.expedu_icon{
    color: #dc3545;
